<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1user-scalable=no">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <title>个人主页</title>
</head>
<body>
2333


<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>