<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/signin.css}" rel="stylesheet" type="text/css">

    <!--<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">-->
    <!--<link href="/css/signin.css" rel="stylesheet" type="text/css">-->

    <style>
        body {
            font-family: "Microsoft YaHei UI Light";
        }
    </style>
    <title>欢迎</title>

</head>

<body style="background-image: url(/img/wallpapers-1920-1200.jpg); background-size: 100%">

<div class="container">

    <h1 style="text-align: center; font-size: 500%">欢迎来到图书馆管理系统</h1>
    <form class="form-signin" th:object="${student}" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        <label class="sr-only">用户名</label>
        <input type="text" class="form-control" name="studentName" placeholder="在此填写用户名" required autofocus>
        <br>
        <label class="sr-only">密码</label>
        <input type="password" class="form-control" name="password" placeholder="在此填写密码" required>

        <label th:if="${result=='nsn'}" style="color: #c90a12">查无此用户！</label>
        <label th:if="${result=='wp'}" style="color: #c90a12">密码错误！</label>
        <div class="checkbox">
            <label>
                <input type="checkbox"> 记住我
            </label>
        </div>

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="登  录">
        <br>
        <div style="text-align: center">
            还没有账号？点击<a href="/register">这里</a>创建一个
        </div>
    </form>


</div>

<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

</body>

</html>